/*@import "main.less"  ;*/
.form {
  font-size: 14px;
  border: 1px solid #cccccc;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 30px auto 0 auto;
}
.form .title {
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.form .i {
  margin-top: 10px;
}
.form input[type="text"],
.form input[type="password"] {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  width: 278px;
}
.form #submit {
  padding: 0 17.5px;
  font-size: 18px;
  line-height: 33px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  color: #ffffff;
  background-image: linear-gradient(#0099cc, #007aa3);
  border: 1px solid #007aa3;
  width: 100px;
  margin: 15px auto 0;
}
.form #submit:hover {
  background-image: linear-gradient(#00ace6, #008ebd);
}
